@import "tailwindcss";
body {
  @apply bg-zinc-950 text-zinc-100 mx-12;
}
/* Optional custom animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out;
}